[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1"
djangorestframework = "*"
django-cors-headers = "*"
django-nested-admin = "*"
django-fixture-magic = "*"
django-extensions = "*"
drf-nested-routers = "*"
django-filter = "*"
markdown = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
graphviz = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.9"
